.envProfile {
  width: 300px;
  border: 4px solid #000;
  font-family: helvetica;
  font-weight: 100;
  color: #000;
  padding: 3px;
  margin-bottom: 20px;
}
.envProfile div {
  padding: 4px 6px 3px 6px;
  font-size: 13px;
  border-bottom: 1px solid #333;
}
.envProfile div span {
  float: right;
  font-weight: bold;
}
.envProfile div div {
  margin-left: 20px;
  border: 0px;
  padding: 0px;
}
.envProfile div div span {
  float: right;
  font-weight: bold;
}
.envProfile .profileTitle {
  font-size: 20px;
  padding: 5px;
  padding-top: 0px;
  font-weight: 800;
  font-family: 'Roboto', helvetica;
  border-bottom: 6px solid #333;
}
.envProfile .profileType {
  font-size: 12px;
  padding: 5px;
  padding-bottom: 0px;
  border-bottom: 0px solid #333;
}
.text-highlight {
  padding: 15px;
  background-color: #ddd;
  margin-bottom: 20px;
}
ol > li:before {
    border-radius: 20px;
}